.boardContainer {
  /* position: absolute; */
  box-sizing: border-box;
  background: rgba(17, 30, 51, 0.6);
  box-shadow: inset 0px -1px 4px rgba(157, 195, 230, 0.6);
  border-radius: 12px;
  overflow-y: hidden;
  margin: 40px;
}

.boardContainer.small {
  width: 430px;
  height: 438px;
  padding: 16px;
  font-size: 14px;
  color: #EDF9FF;
}

.boardContainer.large {
  /* width: 760px; */
  padding: 30px;
  font-size: 20px;
  color: #EDF9FF;
}

.boardTitleSmall {
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin-bottom: 12px; */
}

.boardTitleLarge {
  display: flex;
  justify-content: start;
  align-items: center;
  /* margin-bottom: 40px; */
}

.boardTitleIconSmall {
  width: 36px;
  height: 36px;
  margin-right: 8px;
}

.boardTitleIconLarge {
  width: 66px;
  height: 66px;
  margin-right: 8px;
}

.boardTitleTextSmall {
  color: #CCE7FF;
  font-size: 20px;
  font-weight: 700;
}

.boardTitleTextLarge {
  color: #CCE7FF;
  font-size: 36px;
  font-weight: 700;
}

.nameContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  padding-right: 8px;
}

.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.iconSmall {
  width: 18px;
  height: 18px;
  margin-right: 12px;
}

.iconLarge {
  width: 32px;
  height: 32px;
  margin-right: 24px;
}

.iconRounded {
  border-radius: 50%;
}

.openrankContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.tag {
  height: 1em;
  margin-left: 1em;
  margin-right: 0.2em;
}

.trSmall {
  border-top: 1px solid rgba(175, 206, 232, 0.2)
}

.trSmall:first-child {
  border-top: unset;
}

.trLarge {
  border-top: 2px solid rgba(175, 206, 232, 0.2)
}

.trLarge:first-child {
  border-top: unset;
}

.dividerSmall {
  width: 400px;
  height: 1px;
  background: linear-gradient(90deg, rgba(175, 206, 232, 0) 0.04%, rgba(175, 206, 232, 0.6) 39.59%, rgba(175, 206, 232, 0.6) 64.05%, rgba(175, 206, 232, 0) 99.96%);
}

.dividerLarge {
  height: 2px;
  background: linear-gradient(90deg, rgba(175, 206, 232, 0) 0.04%, rgba(175, 206, 232, 0.6) 39.59%, rgba(175, 206, 232, 0.6) 64.05%, rgba(175, 206, 232, 0) 99.96%);
}

.flagContainer {
  display: flex;
  justify-content: start;
  align-items: center;
}

.flagSmall {
  line-height: 16px;
  font-size: 16px;
  margin-right: 12px;
}

.flagLarge {
  line-height: 32px;
  font-size: 32px;
  margin-right: 24px;
}

.bg {
  width: 90vw;
  padding: 40px;
  background-color: #070F1A;
}